
:root{
    --header-bg: #333;
    --about-bg: #f5f5f5;
    --hover: #0d6efd;
    --clr-secondary: #333;
    --clr-primary: #fff;
    --animate-text: cyan;
}
.header-bg{
    background: var(--header-bg);
}
section{
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    box-sizing: border-box;
}
body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    overflow-x: hidden;
}

#home img{
    width: 200px;
    height: 200px;
}
#home .btn-outline-primary:hover a{
    color: var(--clr-primary);
}
#home h1{
    font-size: 2rem;
}
#about{
    background: var(--about-bg);
    height: auto;
}
.navbar-list{
    display:none;
}
.offcanvas{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

.offcanvas .offcanvas-body .ul{
    flex-wrap: wrap;
}
.offcanvas .offcanvas-body .ul .li{
    padding: 1rem;
    
}

.offcanvas .offcanvas-body .ul .li:hover a{
    color: var(--clr-secondary);
}
.footer{
    height: 50vh;
}
/* width="800px" height="400px" */
/* #myChart{
width: 800px;
height: 400px;
} */

@media screen and (max-width: 750px){
    .links{
        display: none;
    }
    .navbar-list{
        display: block;
        cursor: pointer;

    }
    .navbar-list:hover{
        color: var(--hover);
    }
    #home h1{
        font-size: 1.5rem;
    }
    #myChart{
        width: 400px;
        height: 200px;
        
    }
    .footer{
      margin-top: 8rem;
    }
  
}
@media screen and (min-width: 900px){
    #home h1{
        font-size: 2.5rem;
    }
}

/* 
  @media (max-width: 276px) {
  
  } */
  .animate-text{
    color: var(--clr-primary);
  }
  .hero-img{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotate(0deg);
    transition: 1s;
  }
  @media screen and (max-width: 800px){
    .hero-img{
      display: none;
    }
  }
  .img1{
    left: -100%;
    top: 10%;
    animation: animateImg1 2s ease forwards;
  }
  .img2{
    right: -100%;
    top: 10%;
    animation: animateImg2 2s ease forwards;
  }
  .img3{
    left: 0;
    bottom: -5%;
    animation: animateImg3 2s ease forwards;
    width: 100px;
    height: 100px;
    transform: rotate(0deg);
  }
  .img4{
    left: 45%;
    bottom: -5%;
    animation: animateImg4 2s ease forwards;
    width: 100px;
    height: 100px;
  }
  .img5{
    right: -100%;
    bottom: 0;
    animation: animateImg5 2s ease forwards;
    width: 100px;
    height: 100px;
  }
  @keyframes animateImg1{
    from{
        left: -100%;
        
    }
    to{
        left: 0;
        transform: rotate(30deg);

    }
  }
  @keyframes animateImg2{
    from{
        right: -100%;
        
    }
    to{
        right: 0;
        transform: rotate(-30deg);

    }
  }
  @keyframes animateImg3{
    from{
        bottom: -100%;   
    }
    to{
        bottom: -5%;
        transform: rotate(30deg);

    }
  }
  @keyframes animateImg4{
    from{
        bottom: -100%;   
    }
    to{
        bottom: -5%;

    }
  }
  @keyframes animateImg5{
    from{
        bottom: -100%;   
    }
    to{
        bottom: -5%;
        right: 0;
        transform: rotate(-30deg);
    }
  }
  .about-text{
        background: rgba(255, 255, 255, 0.09);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .card{
        background: rgba(255, 255, 255, 0.09);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: var(--clr-primary);
  }
 .card{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
 }
 .card {
    position: relative;
    overflow: hidden;
  }
  .card-img {
    width: 100%;
    transition: transform 0.3s ease;
  }
  .card:hover .card-img {
    transform: scale(1.1);
  }
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .card:hover .card-overlay {
    opacity: 1;
  }
  .card-overlay h3 {
    color: white;
    margin: 0;
    font-size: 2rem;
  }
  .card .php{
    transform: translateY(40%);
  }
  .flex-container{
    flex-wrap: wrap;
  }

 
  
  @media (max-width: 768px) {
    .hero-text1{
      font-size: 2rem;
    }
    .hero-text2{
      font-size: .8rem;
    }
    .extend{
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .hero-text1{
      font-size: 2rem;
    }
    .hero-text2{
      font-size: .8rem;
    }
    .extend{
      display: none;
    }
  }
 #projects{
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0;
 }
 #projects .project-image-container{ 
  position: relative;
  width: 80%;
  aspect-ratio: 16 / 11;
  overflow: hidden;
 }
 .project-image-container img{
  position: relative;
  width: 100%;
  height: 400px;
 }
 .image-text {
  position: relative;
  bottom: 8.5%;
  left: 0;
  width: 100%;
  color: #fff; 
  padding: 10px; 
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
@media screen and (max-width: 800){
  #projects{
    gap: 2rem;
  }
}